/*Full page */
html{
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    height: 100%;
}

body, #boxSelectCanvas, #codeWrapper{
    margin: 0;
    width: 100%;
    min-height: 100%;
    transition: 0.5s ease all;
}

#boxSelectCanvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    cursor: default;
}

body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#codeWrapper{
    width: 98%;
    margin-top: 15px;
    flex: 1;
}

/* Code window*/
.cyWrapper{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    
    transition: 0.5s ease transform;
}

.scaleWrapper{
    transform-origin: top left;
    transition: 0.5s ease all;
}

.editor, .cytoscape{
    position: absolute;
    display: inline-block;
}

.editor{
    padding-right: 20px;
    padding-top: 0px;
    z-index: 0; 
    
    --box-shadow-color: rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 20px var(--box-shadow-color);
}

.active{
    --box-shadow-color: rgba(0, 0, 0, 0.4);
}

.cytoscape{
    z-index: 1;
}

.blurred{
    filter: blur(3px);
}

/* Pattern box */
#patternBox{
    position: fixed;
    top: 0;
    left: 98.5vw;
    height: 100vh;
    
    z-index: 12;
    
    padding-right: 40px;
    background-color: white;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.25);
    
    overflow-y: scroll;
    
    transition: 0.5s ease all;  
}

#patternBox:hover{
    transform: translate(-90%);
}

#patternBox ul{
    list-style: none;
}

#patternBox p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#patternBox ul li{
    height: 40px;
    line-height: 40px;
    align-content: center;
    border-top: 1px solid rgba(210,210,210,0.4);
    
    padding: 5px;
    
    transition: 0.5s ease all;
}

#patternBox ul li:first-child{
    border-top: none;
}

#patternBox ul li:last-child{
    border-bottom: 1px solid rgba(210,210,210,0.4);
}

#patternBox ul li:hover{
    cursor: pointer;
    background-color: rgba(210,210,210,0.4);
}

::-webkit-scrollbar { 
    display: none; 
}

/* Player */
#player{
    display: flex;
    width: 100vw;
    height: 80px;
    z-index: 11;
    flex: 0;
    
    border-top: 1px solid rgba(0,0,0,0.1);
}

/* Control Buttons */
.controlButtons{
    display: inline-block;
    margin-left: 20px;
    -webkit-user-select: none;
}

#previousButton, #playButton, #nextButton{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 15px auto;
    position: relative;
    cursor: pointer;

}

#previousButton, #nextButton{
    width: 50px;
}

#nextButton{
    margin-left: 15px;
}

.line{
    display: inline-block;
    background-color: #000;
    width: 7px;
    height: 100%;
    transition: all 0.25s ease;
}

/* Previous Button */
.leftTriangle{
	width: 0; 
	height: 0;
    display: inline-block;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	border-right:15px solid #000; 
    margin-left: -5px;
    transition: all 0.25s ease;
}

/* Next Button */
.rightTriangle{
	width: 0; 
	height: 0; 
    display: inline-block;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	border-left:15px solid #000; 
    margin-right: -5px;
    transition: all 0.25s ease;
}

/* Play Pause Button */
#playButton{
    transform: translateY(50%);
}

.left {
    height: 100%;
    float: left;
    background-color: #000;
    width: 36%;
    transition: all 0.25s ease;
    overflow: hidden;
}

.right {
    height: 100%;
    float: right;
    width: 36%;
    background-color: #000;
    transition: all 0.25s ease;
}

.triangle1 {
    transform: translate(0, -100%);
}

.triangle2 {
    transform: translate(0, 100%);
}

.triangle1, .triangle2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: 30px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transition: transform 0.25s ease;
}

.paused .left {
    width: 50%;
}
.paused .right {
    width: 50%;
}
.paused .triangle1 {
    transform: translate(0, -50%);
}
.paused .triangle2 {
    transform: translate(0, 50%);
}

/* Player control buttons hover */
#playButton:hover > .left, #playButton:hover > .right, #nextButton:hover > .line, #previousButton:hover > .line{
    background-color: #c70219;
}

#previousButton:hover > .leftTriangle{
    border-right-color: #c70219;
}

#nextButton:hover > .rightTriangle{
    border-left-color: #c70219;
}

/* Seekbar */
#seekbarWrapper{
    display: inline-block;
    height: 100%;
    flex: 1;
}

#seekbar{
    height: 100%;
    width: 97%;
}

input:focus{
    outline: none;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 22px;
    width: 22px;
    margin-top: -11px;
    border: 3px solid #000;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    transition: 0.2s ease all;
}

input[type=range]:active::-webkit-slider-thumb, input[type=range]:hover::-webkit-slider-thumb{
    border-color: #c70219;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.2);
}