html{
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    height: 100%;
}

body, #boxSelectCanvas, #codeWrapper{
    margin: 0;
    width: 100%;
    min-height: 100%;
    transition: 0.5s ease all;
}

#boxSelectCanvas{
    position: absolute;
    left: 0;
    z-index: 2;
    cursor: default;
}

#codeWrapper{
    width: 98%;
}

.cyWrapper{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.scaleWrapper{
    transform-origin: top left;
    transition: 0.5s ease all;
}

.editor, .cytoscape{
    position: absolute;
    display: inline-block;
}

.editor{
    width: 700px;
    padding-right: 20px;
    padding-top: 0px;
    z-index: 0;
    
    box-shadow: 0px 0px 20px rgba(0,0,0,0.08);
}

.cytoscape{
    z-index: 1;
    margin-left: 20px;
}

#patternBox{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    
    z-index: 3;
    transform: translate(90%);
    
    padding-right: 40px;
    background-color: white;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.25);
    
    overflow-y: scroll;
    
    transition: 0.5s ease all;  
}

#patternBox:hover{
    transform: translate(0%);
}

#patternBox ul{
    list-style: none;
}

#patternBox p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#patternBox ul li{
    height: 40px;
    line-height: 40px;
    align-content: center;
    border-top: 1px solid rgba(210,210,210,0.4);
    
    padding: 5px;
    
    transition: 0.5s ease all;
}

#patternBox ul li:first-child{
    border-top: none;
}

#patternBox ul li:last-child{
    border-bottom: 1px solid rgba(210,210,210,0.4);
}

#patternBox ul li:hover{
    cursor: pointer;
    background-color: rgba(210,210,210,0.4);
}

::-webkit-scrollbar { 
    display: none; 
}